.content-section h2:first-of-type {
	margin-top: 0;
}

.lightbg {
	background-color: #f7f7f7;
}

.darkGreyBg {
	background-color: #000;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}