/* ---- isotope ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

#instafeed img {
	width: 100%;
	height: auto;
	display: block;
	max-width: 100%;
	position: relative;
}

.masonry-block-content {
	padding: 1em 2em 2em;
}

#instafeed .normal-image img {
    width: 100%;
    padding: 25px;
    transform: none;
    top: auto;
    box-shadow: none;
}

#instafeed .resource-bg-img img {
	width: 100%;
	transform: none;
	top: auto;
	box-shadow: none;
}

#instafeed .ebook-cover img {
	width: 250px;
	top: auto;
	margin: 20px auto;
}

#instafeed {
	width: 100%;
	margin: auto;
}

.grid-item {
	box-shadow: 0px 0px 15px #c9c9c9;
}

.grid-item.hover:before {
	opacity: 1;
	visibility: visible;
	transition: all 0.25s ease-in-out;
	background: rgba(0, 0, 0, .75);
}

.grid-inner {
	position: relative;
	transition: all 0.25s ease-in-out;
	overflow: hidden;
	border: 1px solid #e9e9e9;
	background-color: #fff;
	height: 100%;
}

.card-content p {
	display: inline;
}

.read-more-link {
	font-size: 17px;
	font-weight: 700;
}

.fa.fa-picture-o, .fa.fa-external-link {
	position: absolute;
	transition: all 0.25s ease-in-out;
	top: 50%;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
}

.fa.fa-picture-o {
	transform: translateY(-50%);
	left: 32.5%;
	font-size: 30px;
}

.fa.fa-external-link {
	transform: translateY(-48%);
	right: 32.5%;
	font-size: 33px;
}

.link-button a {
	text-decoration: none;
}

.link-button.show .fa.fa-picture-o, .link-button.show .fa.fa-external-link {
	opacity: 1;
	visibility: visible;
	transition: all 0.25s ease-in-out;
}

.grid-item:before {
	position: absolute;
	visibility: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(0, 0, 0, .75);
	transition: all 0.25s ease-in-out;
	left: 0;
	top: 0;
	content: '';
	z-index: 1;
}

/* ---- grid ---- */

.gutter-sizer {
	width: 3%;
}

/* clear fix */
#instafeed:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.card-content {
	background-color: #f5f5f5;
	padding: 2em;
	text-align: left;
	position: relative;
}

.entry-content .card-content h3 {
	margin: 0 0 15px;
	color: #000;
}

.entry-content h4.card_subtitle {
	font-weight: bold;
	font-size: 19px;
	line-height: 1.35em;
	color: #999;
	margin: 0;
}

.post-meta {
	font-size: 13px;
	line-height: 17px;
}

@media (min-width: 800px) {

	.grid-sizer,
	.grid-item, 
	.resource-item {
	  width: 31.333%;
	}
}

@media (max-width: 540px) {
	.grid-sizer, 
	.grid-item, 
	.resource-item {
		width: 100%;
	}
	.grid-item, .resource-item {
	 margin-bottom: 5%;
	}
}

@media (min-width: 540px) and (max-width: 800px) {
	.grid-sizer, 
	.grid-item, 
	.resource-item {
		width: 48.5%;
	}
	.grid-item, 
	.resource-item {
	 margin-bottom: 3%;
	}
}

@media (min-width: 541px) {
	.grid-item, 
	.resource-item {
	 margin-bottom: 3%;
	}
}

button {
	cursor: pointer;
}

.button-group {
	text-align: center;
	margin: 0 auto 50px;
}

.filters-button-group {
	font-size: 0;
	z-index: 999;
	padding-top: 10px;
}

.mobile-filter {
   display: none;
   padding: 35px 0 50px;
   text-align: center;
   margin: auto;
}

.mobile-filter button {
    font-size: 18px;
    line-height: 20px;
    border: none;
    background-color: #000;
	color: #fff;
	padding: 15px;
}

.filters-button-group button {
	padding: 10px 15px;
	border: none;
	background-color: #000;
	margin: 0 5px 10px;
	font-size: 14px;
}

.filters-button-group button:hover {
	background-color: #999;
}

.filters-button-group button a {
	color: #fff;
	display: block;
}

@media (max-width: 400px) {
    .mobile-filter {
        display: block;
    }
	.filters-button-group {
		display: none;
	}
    .filters-button-group button {
    	margin: 0 0 10px;
    }
}

@media (max-width: 812px) and (orientation: landscape) {
    .mobile-filter {
        display: block;
    }
    .filters-button-group {
    	display: none;
    }
	.filters-button-group button {
		margin: 0 0 10px;
	}
}

.mobile-filter > button.open:after {
	content: '';
	margin-left: 10px;
	background-image: url(../../img/icons/close-white.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 21px;
	width: 10px;
	height: 10px;
}

@media (max-width: 736px) {

	.filters-button-group button {
		margin-right: 0;
		margin-left: 0;
	}
}