@media (min-width: 981px) {
	#four-logos ~ .image-grid-container > .image-container {
		flex: 0 0 25%;
	}
}

body .boxed > div.addthis_tool, .addthis_tool, .page .addthis_tool {
	display: none;
}
body .addthis-container-inner .addthis_tool {
	display: block;
}
.videoIframeContainer {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
}

.videoIframeContainer > iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}