.video_iframe_container {
	text-align: center;
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
}
.video_iframe_container > iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.post .video_container > .row-width-1280 {
	padding: 0;
}