@import "_combine.scss";

body .interface-interface-skeleton__content {
	max-width: 75%;
	flex: 0 0 75%;
	overflow-x: hidden;
}

body .edit-post-sidebar {
	width: 100%;
}

body .interface-interface-skeleton__sidebar {
	max-width: 25%;
	flex: 0 0 25%;
}

// FLOATED IMAGES
.alignright {
	margin: 10px 0 15px 15px;
}
.alignleft {
	margin: 10px 15px 15px 0;
}

// RESIDENTS FLEXBOX
.display-flex {
	display: flex;
	flex-wrap: wrap;
}
.display-flex > h2 {
	flex: 0 0 100%;
}
.flexbox-container {
	margin-left: -10px;
	margin-right: -10px;
	justify-content: center;
}
.residents-container.flexbox-container {
	justify-content: normal;
}
.columns-container .display-flex {
	align-items: center;
	flex-wrap: wrap;
}
.align_items_top {
	align-items: flex-start;
}
.align_items_bottom {
	align-items: flex-end;
}
.align_items_center {
	align-items: center;
}
.image-grid-container.display-flex {
	align-items: center;
	justify-content: center;
}
.residents-container {
	margin-top: 15px;
}
.residents-container.flex-wrap {
	flex-wrap: wrap;
}
.residents-container {
	flex-wrap: wrap;
}
.residents-container .grid-inner {
	border: none;
	padding: 2em;
	box-shadow: 0 0 11px #d9d9d9;
	display: flex;
    flex-direction: column;
    height: 100%;
}
.residents-container img {
	max-height: 100%;
	width: auto;
}
.resident-container {
	padding-bottom: .5rem;
	padding-top: .5rem;
}
.residents-container .grid-inner .wider img {
	max-width: 150px;
}
.focus-description {
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	padding: 5px 0;
}
.focus-description span {
	font-weight: bold;
}
.display-flex-50 {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 47.5%;
	margin-right: 5%;
}
.display-flex-50:last-child {
	margin-right: 0;
}

@media (min-width: 1920px) {
	body .interface-interface-skeleton__content {
		max-width: 70%;
		flex: 0 0 70%;
	}
	
	body .interface-interface-skeleton__sidebar {
		max-width: 30%;
		flex: 0 0 30%;
	}
}